<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.pharma.medicare.activity"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"></uses-feature>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="com.pharma.medicare.AppFont"
        android:allowBackup="true"
        android:icon="@mipmap/med"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.pharma.medicare.activity.SplashActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.pharma.medicare.activity.InfoPagerActivity"/>

        <activity
            android:name="com.pharma.medicare.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".ListDisplay"/>


        <activity
            android:name=".LoginPage"
            android:windowSoftInputMode="stateHidden">
        </activity>


        <activity android:name=".UploadPrescription"/>


        <activity android:name=".SignUp"/>

        <activity android:name=".Paracetamol"/>
        <activity android:name=".Crocin"/>
        <activity
            android:name=".HomeScreen"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".NoNetwork"/>
        <activity android:name=".PasswordChange"/>
        <activity android:name=".Success"/>


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

    </application>
</manifest>






