<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mypackage.loginregistration">

    <uses-feature android:name="android.hardware.camera" android:required="false"></uses-feature>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/med"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppTheme.Light.NoActionBar"
        >
        <activity android:name=".ListDisplay">
            <!-- <intent-filter>
                 <action android:name="android.intent.action.MAIN" />
                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>-->
        </activity>

      <!--  <activity android:name=".LoginPage" android:windowSoftInputMode="stateHidden">
             <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>-->
        <activity android:name=".HomeScreenSearch" android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UploadPrescription">
            <!--&lt;!&ndash;&ndash;&gt;<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>


        <activity android:name=".SignUp" android:windowSoftInputMode="stateHidden"></activity>

        <activity android:name=".Paracetamol"></activity>
        <activity android:name=".Crocin"></activity>
        <activity android:name=".HomeScreen" android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".NoNetwork"></activity>
        <activity android:name=".PasswordChange" android:windowSoftInputMode="stateHidden"></activity>

        <activity android:name=".Success"></activity><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <application>
            <provider android:name=".SuggestionProvider"
                      android:authorities="LoginRegistration\app\src\main\java\mypackage\loginregistration\.SuggestionProvider" />
            ...
        </application>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>






